.main-container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}

.breadcrumb-format {
    text-decoration: none;
    color: black;
}